/* Container que segura o botão FaBars */
.reponsive-sidebar-container {
  display: flex;
  align-items: center;
  background-color: var(--cor-verde-primario);

  border-radius: 5px;
  
  /* No Desktop ele pode ser fixo ou ter largura definida */
  width: auto; 
  height: 60px;
  padding: 0 20px;

  /* Responsividade para Tablet/Mobile */
  @media (max-width: 1024px) {
    width: fit-content; /* Ajusta ao tamanho do ícone */
    height: 60px;
    border-radius: 0 0 5px 0; /* Arredonda só a ponta se quiser */
    position: fixed; /* Mantém o botão visível no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Fica na frente do conteúdo */
  }
}

/* Estilização do Botão de Abrir */
