  /* secutity.css usadando nas pages Register,Login e ResetPassword */
.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--esp-sm);
}

.button {
  align-self: center !important ;
  margin-top: var(--esp-xs);
  width: auto;
  padding: var(--esp-sm) var(--esp-xl);
}
.text {
  font-size: var(--font-sm);
  color: var(--slogan-app-color);
  width: 100%;
}


.link {
  color: var(--color-primary);
  font-weight: var(--peso-bold);
  transition: var(--tr-fast);

}

.link:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;

}
@media (max-width: 850px) {
  .form{
    box-shadow: none;
    /* No mobile, pode remover a sombra se preferir um visual flat */
    background-color: transparent;
    /* Opcional: remover o fundo da caixa no mobile */
    padding: var(--esp-md) 0;
  }
}