.header-container {
  flex: 1;
  /* ocupar o restante da tela */
  background-color: #ffffff;
  height: 7vh;
  box-shadow: 0 0 15px 0;
  border-radius: 1px;
  display: flex;
  align-items: center;
  /* verticalmente centralizado */
  padding-left: 14px;
  /* espaçamento interno à esquerda */
  padding-top: 13px;

  gap: 15px;

}

.header-container span {
  font-weight: bold;
  font-size: 28px;
  color: var(--color-primary);

}

@media (max-width: 1024px) {

  .header-container span {
    font-size: 24px;
  }
}

.MenuToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
  pointer-events: auto;
  /* Força o elemento a aceitar cliques */
  cursor: pointer;
  transition: transform 0.2s;
  padding: 10px;
  /* Aumenta a área de clique */


  &:hover {
    transform: scale(1.1);
  }

  svg {
    color: var(--color-primary);
    /* Mudei para branco para contrastar com o verde */
    width: 30px;
    height: 30px;
  }

  span {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
  }

  /* Esconde o texto no mobile muito pequeno para não ocupar espaço */
  @media (max-width: 480px) {
    span {
      display: none;
    }
  }
}